.advantages__header-title {
  color: $texts-texts-basic;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  margin: 70px auto 25px;
  max-width: 630px;
}

.advantages__header-subtitle {
  color: $texts-second;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  align-self: center;
  margin: 0 auto 90px;
  max-width: 660px;
}

.advantages__title {
  color: $texts-texts-basic;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 60px;
  max-width: 175px;
}

.advantages__subtitle {
  color: $texts-second;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
  max-width: 230px;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
}

.advantages__item {
  position: relative;
  min-height: 385px;
  background-color: $background-second-2;

  &:first-child {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: $texts-background-deafault;
    background-color: $background-basic-3;
  }

  &:last-child {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: $texts-background-deafault;
    background-color: $background-basic-3;
  }

  &:nth-child(even) {
    background-color: $background-second-1;
  }

  &:not(:first-child):not(:last-child) {
    padding: 114px 85px;
    color: $texts-texts-basic;

    &::after {
      position: absolute;
      content: "";
      width: 60px;
      height: 2px;
      top: 51.5%;
      left: 50%;
      transform: translateX(-50%);
      background-color: $background-basic-2;
      }
  }
}

.advantages__item-container p {
  color: $texts-background-deafault;
}

.advantages__item-container {
  position: relative;
  display: block;
  padding: 103px 85px;

  &::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    top: 48.5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $texts-background-active;
  }
}

.advantages__service-title {
  color: $texts-texts-basic;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  margin: 63px auto 20px;
  max-width: 505px;
}

.advantages__service-subtitle {
  color: $texts-second;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  align-self: center;
  margin: 0 auto 64px;
  max-width: 660px;
}

.advantages__service-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages__service-item {
  position: relative;
  min-height: 385px;
  background-repeat: no-repeat;
  background-position-x: center;

  &:nth-child(1) {
    background-color: $background-second-1;
    background-position-y: 80px;
    background-image: url("../../img/sprite/advantages-housing-icon.svg");

  }

  &:nth-child(2) {
    background-position-y: 82px;
    background-image: url("../../img/sprite/advantages-food-icon.svg");
  }

  &:nth-child(3) {
    background-color: $background-second-1;
    background-position-y: 79px;
    background-image: url("../../img/sprite/advantages-souvenir-icon.svg");
  }
}

.advantages__service-name {
  position: relative;
  margin: 184px auto 29px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__service-description {
  color: $texts-second;
  position: relative;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  max-width: 230px;
}


