.button {
  display: block;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 10px;
}

.button_brown {
  background-color: $buttons-basic;
  color: $texts-background-default;
  transition: background-color $transition-delay;

  &:hover,
  :focus-visible {
    background-color: $buttons-brown-hover;
  }

  &:active {
    background-color: $buttons-basic;
    color: $background-basic-2;
  }

  &:disabled {
    background-color: $buttons-disabled;
    color: $texts-background-default;
  }
}

.button_blue {
  background-color: $buttons-second;
  color: $texts-background-default;
  transition: background-color $transition-delay;

  &:hover,:focus-visible {
    background-color: $buttons-blue-hover;
  }

  &:active {
    background-color: $buttons-second;
    color: $background-basic-2;
  }

  &:disabled {
    background-color: $buttons-disabled;
    color: $texts-background-default;
  }
}

.button_transparent {
  background-color: transparent;
  color: $texts-background-default;
  transition: background-color $transition-delay;

  &:hover,:focus-visible {
    color: $texts-background-hover;
  }

  &:active {
    color: $background-basic-2;
  }

  &:disabled {
    color: $texts-background-default;
  }
}
