.button {
  display: block;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 10px;
}

.button--brown {
  background-color: $buttons-basic;
  color: $texts-background-default;
  transition: color $transition-delay;
  transition: background-color $transition-delay;

  &:hover,
  :focus-visible {
    background-color: #615048;
  }

  &:active {
    background-color: #756157;
    color: #ffffff4d;
  }

  &:disabled {
    background-color: #e5e5e5;
    color: #ffffff;
  }
}

.button--blue {
  background-color: #83b3d3;
  color: #ffffff;
  transition: background-color $transition-delay;
  transition: color $transition-delay;

  &:hover,:focus-visible {
    background-color: #68a2ca;
  }

  &:active {
    background-color: #68a2ca;
    color: #ffffff4d;

  }

  &:disabled {
    background-color: #e5e5e5;
    color: #ffffff;
  }
}

.button--green {
  background-color: #7db54f;
  color: #ffffff;
  transition: background-color $transition-delay;
  transition: color $transition-delay;

  &:hover,:focus-visible {
    background-color: #6c9e42;
  }

  &:active {
    background-color: #7db54f;
    color: #ffffff4d;
  }

  &:disabled {
    background-color: #e5e5e5;
    color: #ffffff;
  }
}

.button--transparent {
  background-color: transparent;
  color: #ffffff;
  transition: background-color $transition-delay;

  &:hover,:focus-visible {
    color: #ffffff99;
  }

  &:active {
    color: #ffffff4d;
  }

  &:disabled {
    color: #ffffff1a;
  }
}
