.catalog {
  padding: 50px 70px 60px;
}

.catalog__filter {
  display: grid;
  grid-template-columns: 538px 362px auto;
  padding-bottom: 40px;
  align-items: center;
}

.catalog__title {
  color: $texts-texts-basic;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}

.catalog__filter-sorting {
  width: 292px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  color: $texts-second;
  font: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  appearance: none;
  padding: 12px 40px 12px 20px;
  background-image: url("../img/sprite/catalog-sorting-arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;

  &:hover {
    border-color: #68a2ca;
  }

  &:focus {
    border-color: #3f5e72;
    outline: none;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
    user-select: none;
  }
}

.catalog__view-buttons {
  display: flex;
  flex-flow: row wrap;
  max-width: 160px;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.catalog__view-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid $forms-elements-1;
  margin: 0;

  &:hover,
  &:active {
    border-color: $icons-basic;
  }

  &--active {
    border-radius: 4px;
    border: 2px solid $icons-basic;
  }
}

.catalog__hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.catalog__pagination {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.catalog__pagination-item {
  width: 60px;
  min-height: 60px;
  padding: 10px;
  color: $texts-background-default;
  background-color: $buttons-second;
  border-radius: 4px;
  border: 0 none;
  overflow: hidden;
  text-align: center;
  cursor: pointer;

  &:not(:first-child):not(:nth-last-child(2)):hover,
  &:not(:first-child):not(:nth-last-child(2)):focus-visible,
  &:not(:first-child):not(:nth-last-child(2)):focus {
    background-color: #68a2ca;
  }

  &:not(:first-child):not(:nth-last-child(2)):active {
    background-color: #82b3d3;
    color: rgba(255, 255, 255, 0.3);
  }

  &--current {
    color: $texts-texts-basic;
    background-color: $forms-elements-2;
  }

  &--pass {
    color: $texts-texts-basic;
    background-color: transparent;
  }
}

.catalog__pagination-button {
  display: block;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  & > [href]:hover,
  & > [href]:focus-visible,
  & > [href]:focus {
    background-color: #68a2ca;
  }
}

.catalog__pagination-pass {
  display: block;
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 10px;
}
