.filter {
  position: relative;
  background-image:
  image-set(
    "../img/filter-background@1x.webp" type("image/webp") 1x,
    "../img/filter-background@2x.webp" type("image/webp") 2x,
    "../img/filter-background@1x.jpg" type("image/jpg") 1x,
    "../img/filter-background@2x.jpg" type("image/jpg") 2x
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  background-color: $background-basic-2;
  padding: 35px 70px 15px;
  min-height: 412px;
}

.filter__title {
  margin: 0 0 8px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

.filter__breadcrumbs-list {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  gap: 30px;
  width: fit-content;
  margin-bottom: 40px;
}

.filter__breadcrumbs-item {
  position: relative;
  display: flex;
  align-items: center;

  &:after {
    position: absolute;
    content: "";
    width: 8px;
    height: 21px;
    margin: 0 23px;
    background: url("../img/sprite/filter-breadcrumbs-arrow-icon.svg") no-repeat center;
  }

  &:last-of-type:after {
    content: none;
  }
}

.filter__breadcrumbs-link {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  min-height: 21px;
  margin: 0;
  transition: opacity $transition-delay;

  &--home {
    display: block;
    background: url("../img/sprite/filter-breadcrumbs-home-icon.svg") no-repeat center;
    width: 12px;
    top: -1px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.filter__catalog {
  display: grid;
  grid-template-columns: 220px 290px 288px auto;
}

.filter__legend {
  margin: 0 0 35px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: start;
}

.filter__list {
  display: grid;
  margin: 0;
  row-gap: 21px;
  text-align: left;
}

.filter__options {
  position: relative;
  cursor: pointer;
  padding-left: 36px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }

  &:disabled {
    opacity: 0.1;
  }
}

.filter__options-mark {
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: $texts-background-default;
  border: none;
  border-radius: 4px;

  &:hover {
    opacity: 0.6;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    opacity: 0.4;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4)
  }

  &:disabled {
    opacity: 0.1;
  }

  &--radio {
    border-radius: 50%;
  }
}

.filter__checkbox:focus ~ .filter__options-mark {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 3px solid $background-basic-3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.filter__radio:focus ~ .filter__options-mark--radio  {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid $background-basic-3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.filter__checkbox:checked + .filter__options-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 12px;
  height: 10px;
  background-image: url("../img/sprite/filter-checkbox-tick-icon.svg");
}

.filter__radio:checked + .filter__options-mark--radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: $forms-inputs;
  border-radius: 50%;
}

.filter__slider {
  display: grid;
}

.filter__slider-label {
  position: relative;
}

.filter__slider-placeholder {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 14px;
  right: 20px;
  color: $background-basic-2;
  overflow: hidden;
}

.filter__inputs-wrapper {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 2px;
  top: -2px;
}

.filter__slider-input {
  width: 143px;
  padding: 12px 45px 12px 21px;
  border-radius: 4px 0 0 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  overflow: hidden;

  &:hover {
    background-color: #e6e6e6;
  }

  &:focus-within {
    background-color: #e6e6e6;
    outline: 3px solid #83b3d3;
  }

  &:active {
    outline: 2px solid $icons-second;
  }

  &:disabled {
    background-color: #e5e5e5;
  }

  &--max {
    border-radius: 0 4px 4px 0;
  }
}

.filter__slider-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: $texts-background-small;
  border-radius: 2px;
  margin-top: 30px;
}

.filter__slider-range {
  position: absolute;
  left: 0;
  width: 226px;
  height: 4px;
  background-color: $background-basic-1;
}

.filter__slider-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: $background-basic-1;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:focus {
    outline: 3px solid $icons-second;
  }

  &:active {
    outline: 2px solid $icons-second;
  }

  &--min {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  &--max {
    top: 50%;
    transform: translateY(-50%);
    right: -1px;
  }
}

.filter__buttons-wrapper {
  display: grid;
  padding-top: 56px;
  gap: 32px;
  flex-flow: column;
  align-items: end;
  justify-content: end;
}

.filter__button {
  font-family: inherit;
  width: 191px;
  min-height: 36px;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
