.modal {
  //display: block;
  border: none;
  border-radius: 30px;
  position: relative;
  width: 717px;
  min-height: 44px;
  padding: 64px 71px;
  background-color: $background-basic-1;
  box-shadow: 0 25px 15px 0 rgba(0, 0, 0, 0.15);

  &::backdrop {
    background-color: rgba(242, 242, 242, 0.8);
  }
}

.modal__close-button {
  position: absolute;
  top: 64px;
  right: 51px;
  width: 52px;
  height: 52px;
  background-image: url("../img/sprite/modal-close-cross-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f2f2;
  border-radius: 50%;

  &:hover {
    background-color: #E5E5E5;
  }

  &:focus, &:focus-visible {
    outline: 3px solid #83B3D3;
  }

  &:active {
    background-color: #E6E6E6;
    opacity: 0.3;
    outline: none;
  }
}

.modal__search-form {
  display: grid;
  grid-template-columns: 137px 197px 133px 110px;
}

.modal__title {
  grid-column: 1 / -1;
  margin: 0 0 64px;
  text-align: left;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.modal__label{
  grid-column-start: 1;
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: left;
  color: #000000;

  &--child {
    grid-column: 3;
    position: relative;
  }
}

.modal__input {
  font: inherit;
  grid-column: 2 / -1;
  display: block;
  padding: 12px 60px 12px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #000000;
  border: none;
  border-radius: 4px;
  background: #f2f2f2 url("../img/sprite/modal-calendar-icon.svg") no-repeat right 20px center;
}

.modal__input:hover {
  background-color: #E6E6E6;
}

.modal__input:focus,
.modal__input:focus-visible {
  outline: 3px solid #83B3D3;
}

.modal__info {
  color: #333333;
  grid-column: 2 / -1;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  margin: 6px 0 26px 20px;
  font-weight: 400;
  text-align: left;

  &--error {
    color: #ff5757;
    margin: 6px 0 26px 20px;
  }
}

.modal__count-box {
  grid-column: 2;
  display: flex;

  &--child {
    grid-column: 4;
  }
}

.modal__tooltip {
  display: none;
}

.modal__button {
  margin-top: 46px;
  grid-column: 1 / -1;
  min-height: 60px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
}

.modal__tooltip-icon {
  position: absolute;
  right: 47px;
  bottom: 0px;
  width: 26px;
  height: 26px;
  background-image: url("../img/sprite/modal-info-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #68a2ca;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.modal__tooltip-text {
  position: absolute;
  display: none;
  z-index: 2;
  top: 38px;
  left: -55px;
  width: 256px;
  padding: 20px 18px 23px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  text-transform: none;
}

.modal__tooltip-text::before {
  position: absolute;
  top: -5px;
  left: 47%;
  transform: rotate(45deg);
  width: 19px;
  height: 19px;
  background-color: #333333;
  content: "";
}

.modal__tooltip-icon:hover + .modal__tooltip-text,
.modal__tooltip-icon:focus + .modal__tooltip-text,
.modal__tooltip-icon:focus-visible + .modal__tooltip-text {
  display: block;
}

.modal__tooltip-icon:hover,
.modal__tooltip-icon:focus,
.modal__tooltip-icon:focus-visible {
  opacity: 0.6;
}

.modal__tooltip-icon:active {
  opacity: 0.3;
}

