.modal {
  //display: block;
  border: none;
  border-radius: 30px;
  position: relative;
  width: 717px;
  min-height: 44px;
  padding: 64px 70px;
  background-color: $background-basic-1;
  box-shadow: 0 25px 15px 0 rgba(0, 0, 0, 0.15);

  &::backdrop {
    background-color: rgba(242, 242, 242, 0.8);
  }
}

.modal__close-button {
  position: absolute;
  top: 64px;
  right: 51px;
  width: 52px;
  height: 52px;
  background-image: url("../../img/sprite/modal-close-cross-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f2f2;
  border-radius: 50%;

  &:hover {
    background-color: #e6e6e6;
  }

  &:focus {
    background-color: #e6e6e6;
    border: 3px solid #83b3d3;
  }

  :active {
    background-color: #a1a1a1;
    opacity: 30%;
  }
}

.modal__search-form {
  display: grid;
  grid-template-columns: 137px 197px 133px 110px;
}

.modal__title {
  grid-column: 1 / -1;
  margin: 0 0 64px;
  text-align: left;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.modal__label{
  grid-column-start: 1;
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: left;
  color: #000000;
}

.modal__input {
  font: inherit;
  grid-column: 2 / -1;
  display: block;
  padding: 12px 60px 12px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.modal__info {
  color: #333333;
  grid-column: 2 / -1;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  margin: 6px 0 26px 20px;
  font-weight: 400;
  text-align: left;

  &--error {
    color: #ff5757;
  }
}

.modal__count-box {
  grid-column: 2;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal__tooltip {
  display: none;
}
