.navigation {
  position: relative;
  display: grid;
  grid-template-columns: 140px auto 268px;
}

.navigation__logo img {
  position: absolute;
  max-height: 70px;
  z-index: 10;
}

.navigation__list {
  display: flex;
  flex-flow: row wrap;
  margin-left: 29px;
}

.navigation__item {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 16px;

  &--active::after {
    position: absolute;
    content: "";
    width: calc(100% - 30px);
    bottom: -1px;
    display: block;
    height: 2px;
    background: $texts-hover;
    z-index: 10;
  }
}

.navigation__link {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;

  &[href]:hover {
      color: #756157;
    }

  &[href]:active {
    color: rgba(117, 97, 87, 0.3);
  }
}

.navigation__user-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 268px;
}

.navigation__user-link {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 23px 12px;
  margin: 0;
  width: 44px;
  cursor: pointer;

  &--search {
    background: url("../img/sprite/header-search-icon.svg") no-repeat center;
    left: 1px;
  }

  &--favourites {
    position: relative;
    background: url("../img/sprite/header-fovourites-icon.svg") no-repeat center;
  }
}

.navigation__user-favourites {
  position: absolute;
  left: 20px;
  top: 0px;
  padding: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: $texts-background-default;
  background-color: $icons-text;
  border-radius: 10px;
  max-width: 20px;
  min-width: 20px;
  max-height: 20px;
  overflow: hidden;
}

.navigation__button {
  width: 160px;
  max-width: 160px;
  min-height: 36px;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
