*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  color: $texts-second;
  background-color: $forms-elements-2;
  font-family: $ff-ptsans;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

// input[number] arrows removal
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}
